<launch>
    <rosparam param="robot_description" file="$(find trinity)/models/trinitybot.urdf" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joints" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_statea" output="screen" />
</launch>
