<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 3.14 0 base_link laser 100" />
    <!--<node pkg="tf" type="static_transform_publisher" name="laser_frame_broadcaster" args="0 0 0 0 0 0 base_link laser_frame 100" />-->
    <!--<node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 odom base_link 100" />--> 
    <!--<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 map base_link 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0 0 0 0 0 base_link imu 100" />
</launch>
